@model DAP.Plantilla.Models.BuscardorChequeModels.DetallesInformativosCheque

<seccion id="DDDDDDD" class="margenSection  card col-12  offset-md-1 col-md-10 text-center" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


    </br>
    </br>
    <h3> Cheque encontrado en la quincena @Model.Quincena</h3>
    </br>
    </br>
    <!--Inicio del Grid con los detalles -->
    <div id="detallesFormasPago" class="text-justify">



        <div class="row offset-0  offset-sm-1 offset-lg-2 offset-xl-3   marginbottom">


            <div class="col-12 col-sm-3 orientacion">
                <label>Folio:</label>
                <br>
                <span id="NumeroFolio" class="text-center">@Model.Folio </span>

            </div>



            <div class="col-12 col-sm-3  orientacion">
                <label for="">Liquido:</label>
                <br>
                <span id="ImporteLiquido">@Model.Liquido</span>

            </div>

            <div class="col-12 col-sm-6  orientacion">
                <label>Beneficiario:</label>
                <br>
                <span id="NombreBeneficiario"> @Model.NombreBeneficiaro</span>

            </div>

        </div>






        <div class="row offset-0  offset-sm-1 offset-lg-2  offset-xl-3  marginbottom">


            <div class="col-12 col-sm-3 orientacion">
                <label for="">Estado Cheque:</label>
                <br>
                <span id="EstadoCheque" class="text-center">@Model.EstadoCheque</span>

            </div>

            <div class="col-12 col-sm-3  orientacion">
                <label for="">Referencia Bitacora:</label>
                <br>
                <span id="ReferenciaBitacora"> @Model.ReferenciaBitacora</span>

            </div>

            <div class="col-12 col-sm-6  orientacion">
                <label for="">Banco Pagador:</label>
                <br>
                <span id="BancoPagador">@Model.BancoPagador </span>

            </div>

        </div>






        <div class="row offset-0  offset-sm-1 offset-lg-2  offset-xl-3  marginbottom">


            <div class="col-12 col-sm-3 orientacion">
                <label>Es PenA:</label>
                <br>
                <span id="EsPenA">@Model.EsPenA </span>

            </div>



            <div class="col-12 col-sm-6  orientacion">
                <label for="">Beneficiario Pension Alim:</label>
                <br>
                <span id="NombreBenePenA">@Model.NombreBeneficiarioPenA</span>

            </div>


            @*<div class="col-12 col-sm-3  orientacion">
                    <label for="">Estado cancelado:</label>
                    <br>
                    <span id="EstadoCancelado">@Model.EstadoCancelado </span>

                </div>*@


        </div>

    </div>



    </br>




    <div class="row  text-center marginbottom">


        <div class=" offset-4 col-4">
            <label for="" class="text-justify">Es Refoliado:</label>
            <br>
            @if (Model.EsRefoliado)
            {
                <button type="button" class="btn btn-outline-info btn-block btn-sm" title="Realizar un ajuste al inventario">Ver historico de refoliacion </button>
            }

        </div>


    </div>







    <div class="row  text-center marginbottom">


        <button type="button" class="btn  btn-outline-success offset-1 col-9  offset-sm-2 col-sm-3" title="Realizar un ajuste al inventario" style="border:solid;">Refoliar </button>

        <button type="button" class="btn btn-outline-warning offset-1 col-9 offset-sm-0 col-sm-3" title="Realizar un ajuste al inventario">Suspender</button>

        <button type="button" class="btn btn-outline-danger offset-1 col-9 offset-sm-0 col-sm-3" title="Realizar un ajuste al inventario">Cancelar</button>



    </div>



    </br>
    </br>




</seccion>



<style>


    /*******************************************/
    /******************************************/
    /*****************************************/
    /*CSS PARA EL MODAL*/


    .borde {
        border: 1px solid;
    }

    .marginbottom {
        margin-bottom: 40px;
    }





    @@media only screen and (max-width: 576px) {


        .orientacion {
            text-align: center;
            margin-bottom: 40px;
        }
    }





    #detallesFormasPago label {
        font-weight: bold;
        font-style: italic;
        color: rgb(68, 147, 211);
        margin-bottom: 3px;
    }



    #detallesFormasPago span {
        font-weight: 900;
        color: #60bb6bd3;
    }







</style>