
@{
    ViewBag.Icono = "fas fa-balance-scale";
    ViewBag.Title = "Ajustar";
}




<section>

    <br />
    <h5 class="col-12 text-center text-uppercase">Ajustar Folios con lo ya foliado correctamente:</h5>
    <h3 class="col-12 text-center text-uppercase">@ViewBag.NombreBanco</h3>
    <h5 class=" col-12 text-center" title="Numero de cuenta activa">@ViewBag.NumeroCuentaBanco</h5>

</section>



<!--  seccion para ajustar un Folio o Folios/ funciona para simular que los folios fueron utilizados foliados correctamente-->
<section id="IFolios" class="margenSection offset-1 col-10" style="background:#E6E6E6; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <br />
    <h4 class="col-12 text-center">Ajustar Folios</h4>
    <br />

    <div class="row ">
        <label class="offset-1 col-10             col-sm-2">Folio Inicial:</label>
        <input id="FolioInicialAjuste" class="offset-1 col-10 offset-sm-0 col-sm-3" placeholder="Ingresa el F. inicial" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 122 && event.charCode != 91 " required />
        <label class="offset-1 col-10 offset-sm-0 col-sm-2">Folio Final:</label>
        <input id="FolioFinalAjuste" class="offset-1 col-10 offset-sm-0 col-sm-3" placeholder="Ingresa el F. Final" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 122 && event.charCode != 91 " />

    </div>


    <br />
    <div class="row offset-1 col-10 text-center">
        <button id="ValidarFoliosAjuste" class="btn btn-success btn-lg  btn-block" title="valida la disponibilidad de folios">Validar folios</button>

    </div>

    <br />
</section>





<!-- Modal de confirmacion para Asignar Formas de pago -->
<section id="AjustarFormas" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">


                <h5 class="col-11 text-center">Ajustar folios de formas de pago</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>


            </div>



            <div class="modal-body">
                <h4 id="ResumenAjustar" class=" text-center text-uppercase"></h4>

                <br />


                <div class="col-12">
                    <div class="form-group">
                        <select class="form-control" id="SeleccionarMes">
                            <option value="" selected>Selecciona el mes de la quincena...</option>

                            <option>Enero </option>
                            <option>Febrero </option>
                            <option>Marzo </option>
                            <option>Abril </option>
                            <option>Mayo </option>
                            <option>Junio </option>
                            <option>Julio </option>
                            <option>Agosto </option>
                            <option>Septiembre </option>
                            <option>Octubre </option>
                            <option>Noviembre </option>
                            <option>Diciembre </option>

                        </select>
                    </div>
                </div>



                <div class="col-12">
                    <div class="form-group">
                        <select class="form-control" id="SeleccionarQuincena">
                            <option value="" selected>Selecciona un numero de quincena...</option>

                            <option>Quincena 1 </option>
                            <option>Quincena 2 </option>

                        </select>
                    </div>
                </div>




            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="GuardarAjuste" type="button" class="btn btn-success">Ajustar Folios foliados </button>

            </div>


        </div>
    </div>
</section>



<!-- Modal de Cancelacion cuando hay folios ya ocupados -->
<section class="modal fade" id="ErrorEnFormasPago" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">


                <h5 class="col-11 text-center">VERIFIQUE LO SIGUIENTE E INTENTELO DE NUEVO</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>


            </div>



            <div class="modal-body">
                <h4 class=" text-center text-uppercase">Encontramos problemas en los siguientes folios</h4>

                <table class="table table-striped table-bordered table-hover">

                    <tbody id="cuerpoTabla">
                    </tbody>
                </table>
                <br />


            </div>


            <div class="modal-footer">
                <button id="Cancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

            </div>


        </div>
    </div>
</section>








<script>


    function PintarTablaFoliosInvalidosEnModal(msg) {
        let ninios = $("#cuerpoTabla").children().length



        // If the <ul> element has any child nodes, remove its first child node
        if (ninios > 1) {
            $("#cuerpoTabla").children().remove();
        }


        const CUERPOTABLA = document.getElementById('cuerpoTabla');

        msg.forEach(Dato => {

            //crear un <tr>
            const TR = document.createElement("tr");
            // Creamos el <td> y se adjunta a tr
            let tdFolio = document.createElement("td");
            tdFolio.textContent = Dato; //el textContent del td es el concepto
            TR.appendChild(tdFolio);
            // el td de nómina

            CUERPOTABLA.appendChild(TR);

        })

    }




    $(document).ready(function () {


        let FInicial = null;
        let FFinal = null;
        let TotalFormasAsignadas = null;


        const ValidarAjuste = document.getElementById("ValidarFoliosAjuste");
        ValidarAjuste.addEventListener("click",
            function ()
            {

                FInicial = document.getElementById('FolioInicialAjuste').value;
                FFinal = document.getElementById('FolioFinalAjuste').value;


                    if (FInicial != "") {


                        if (FFinal != "") {

                            if (parseInt(FFinal) > parseInt(FInicial) || parseInt(FInicial) == parseInt(FFinal)) {
                                //Caso en donde el folio Final es mayor al inicial o iguales

                                MensajeCargando();

                                let verificarFolios = "{'IdInventario':'" + "@ViewBag.IdInventario" + "','FolioInicial':'" + FInicial + "','FolioFinal':'" + FFinal + "'}";


                                    $.ajax({
                                    url: '@Url.Action("VerificarDisponibilidadFolios", "Inventario")',
                                    data: verificarFolios,
                                    type: "POST",
                                    contentType: "application/json; charset=utf-8",

                                        success: function (msg) {
                                            OcultarMensajeCargando();
                                            console.log(msg);


                                            //Metodos para informar al usuario el problema que surgio
                                             if (msg.length == 1) {
                                                OcultarMensajeCargando();

                                                Swal.fire({
                                                    backdrop: true,
                                                    allowEnterKey: false,
                                                    allowOutsideClick: false,
                                                    icon: 'success',
                                                    title: 'Folios Disponibles correctamente',
                                                    text: ``


                                                })


                                                 document.getElementById('ResumenAjustar').innerHTML = `Se ajustaran ${(FFinal - FInicial) + 1} formas de pago foliadas correctamente <br/>
                                                                         del folio : ${FInicial}  al folio final : ${FFinal}    <br/>
                                                                         ${"@ViewBag.NombreBanco"} <br/>
                                                                         ${"@ViewBag.NumeroCuentaBanco"}`;


                                                 $('#AjustarFormas').modal('show');


                                             }



                                            //si retorna 0 es que todos los folios estan disponibles
                                            if (msg[0] === "Folios No Disponibles" && msg.length > 1) {
                                            OcultarMensajeCargando();

                                            Swal.fire({
                                                backdrop: true,
                                                allowEnterKey: false,
                                                allowOutsideClick: false,
                                                icon: 'warning',
                                                title: 'Folios no disponibles: ¡VERIFIQUE!',
                                                text: ``


                                            })



                                            PintarTablaFoliosInvalidosEnModal(msg);

                                            $('#ErrorEnFormasPago').modal('show');


                                        }


                                             //hay folios que se han ocupado anteriormente y no se pueden reocupar
                                             if (msg[0] === "No Existe El Folio" && msg.length > 1) {

                                            OcultarMensajeCargando();

                                            Swal.fire({
                                                backdrop: true,
                                                allowEnterKey: false,
                                                allowOutsideClick: false,
                                                icon: 'error',
                                                title: 'Folios Inexistente',
                                                text: `${msg.length - 1} folios tienen problemas; Verifiquelos`


                                            })



                                            PintarTablaFoliosInvalidosEnModal(msg);

                                            $('#ErrorEnFormasPago').modal('show');


                                        }











                                        },
                                        error: function (msg) {
                                            OcultarMensajeCargando();
                                            Swal.fire({
                                            backdrop: true,
                                            allowEnterKey: false,
                                            allowOutsideClick: false,
                                            icon: 'info',
                                            title: 'No se pudo verificar la disponibilidad de folios intentelo de nuevo mas tarde o pongase en contacto con el administrador del sistema',
                                            })
                                        }
                                    });

                            } else {

                                Swal.fire({
                                backdrop: true,
                                allowEnterKey: false,
                                allowOutsideClick: false,
                                icon: 'warning',
                                title: 'Introduzca un folio final mayor al inicial',

                                })
                            }

                        } else {
                            //if de folio final
                                Swal.fire({
                                backdrop: true,
                                allowEnterKey: false,
                                allowOutsideClick: false,
                                icon: 'warning',
                                title: 'Introduzca un Folio Final',

                                 })
                        }



                    } else {
                        //if de folio inicial
                                Swal.fire({
                                backdrop: true,
                                allowEnterKey: false,
                                allowOutsideClick: false,
                                icon: 'warning',
                                title: 'Ingrese un Folio inicial',

                                })
                    }









            }
        );





        //detecta los cambios en los select's o listas desplegables
        SeleccionarMes
        SeleccionarQuincena


        let mesSeleccionado = null;
        const seleccionMes = document.getElementById("SeleccionarMes");
        seleccionMes.addEventListener("change",
            function () {
                //mesSeleccionado = null;
                mesSeleccionado = this.options[seleccionMes.selectedIndex];

                console.log(mesSeleccionado.value);


            }
        );

        let quincenaSeleccionado = null;
        const seleccionQuincena = document.getElementById("SeleccionarQuincena");
        seleccionQuincena.addEventListener("change",
            function () {
                //mesSeleccionado = null;
                quincenaSeleccionado = this.options[seleccionQuincena.selectedIndex];

                console.log(quincenaSeleccionado.value);

            }
        );











        const GuardarAjuste = document.getElementById("GuardarAjuste");
        GuardarAjuste.addEventListener("click",
            function () {


                //IdIncidencia = 1 es por que esta inhabilitado
                let enviarFolios = "{'IdInventario':'"+"@ViewBag.IdInventario"+"','FolioInicial':'"+FInicial+"','FolioFinal':'"+FFinal+"','IdIncidencia':'3'}";
                console.log(enviarFolios);



                if (mesSeleccionado != null) {
                    //seleccionar un mes de quincena
                    if (quincenaSeleccionado != null) {
                           //seleccionar un numero de quincena

                               MensajeCargando();
                               $.ajax({
                                   url: '@Url.Action("CrearIncidencias", "Inventario")',
                                   data: enviarFolios,
                                  type: "POST",
                                  contentType: "application/json; charset=utf-8",

                                   success: function (msg) {
                                       console.log("msg", msg);
                                       console.log("msg", msg.length);

                                       if (msg.length == 1)
                                       {
                                           OcultarMensajeCargando();
                                           Swal.fire({
                                               backdrop: true,
                                               allowEnterKey: false,
                                               allowOutsideClick: false,
                                               icon: 'success',
                                               title: 'Correcto',
                                               text: 'Incidencias modificadas correctamente'
                                           }).then((result) => {
                                               if (result.value) {

                                                   location.reload();

                                                   //$('#Confirmar').modal('hide')
                                               }
                                           })

                                       }

                                       if (msg[0] === "Folios Sin Guardar Incidencia" && msg.length > 1)
                                       {
                                           OcultarMensajeCargando();
                                           Swal.fire({
                                               backdrop: true,

                                               allowEnterKey: false,
                                               icon: 'error',
                                               title: 'Pongase en contacto con el administrador del sistema',


                                           })


                                           PintarTablaFoliosInvalidosEnModal(msg);



                                           $('#ErrorEnFormasPago').modal('show');
                                       }
                                   },
                                   error: function (msg) {
                                       OcultarMensajeCargando();
                                          Swal.fire({
                                              backdrop: true,

                                              allowEnterKey: false,
                                              icon: 'info',
                                              title: 'No se pudo cargar los numeros de orden intentelo de nuevo mas tarde o pongase en contacto con el administrador del sistema',


                                          })
                                   }
                               });






                    } else {
                           // No se selecciono un numero de quincena

                        Swal.fire({
                            backdrop: true,
                            allowEnterKey: false,
                            allowOutsideClick: false,
                            icon: 'warning',
                            title: 'Seleccione un numero de quincena',
                        text: ``
                        })
                    }

                } else {
                    //no se selecciono mes

                    Swal.fire({
                        backdrop: true,
                        allowEnterKey: false,
                        allowOutsideClick: false,
                        icon: 'warning',
                        title: 'Seleccione un mes de la quincena',
                        text: ``
                    })
                }


            }
        );











    });





</script>


