@model List<DAP.Plantilla.Models.InventarioContenedorModel>
@{
    ViewBag.Icono = "fas fa-boxes";
    ViewBag.Title = "Detalle del banco";


}


<section>

    <div class="col-12">
        <div class="text-center">
            <h3 class="text-capitalize" id="Banco">BANCO: @ViewBag.NombreBancoSeleccionado</h3>
        </div>

    </div>


</section>






<!-- Generacion de tablas -->
<section class="margenSection ">

    <div class="table-responsive">

        <table id="tbProducto" class="table table-striped table-bordered table-hover">
            <caption>CONTROL DEL DETALLE DEL BANCO  @ViewBag.NombreBancoSeleccionado</caption>


            <thead class="tabla">
                <tr>
                   
                    <th>Banco</th>
                    <th>Cuenta</th>
                    <th>Numero de Orden</th>
                    <th>Numero de Contenedor</th>
                    <th>Folio Inicial</th>
                    <th>Folio Final</th>
                    <th>Total de formas en el contenedor</th>
                    <th>Formas disponibles Actuales</th>
                    <th>Formas Inhabilitadas</th>
                    <th>Formas Asignadas</th>
                    <th>Fecha de alta</th>
                



                </tr>
            </thead>
            <tbody>



                @foreach (var modelo in Model)
                 {
                    <tr>
                        <td>@modelo.Banco</td>
                        <td>@modelo.Cuenta</td>
                        <td>@modelo.Orden</td>
                        <td>@modelo.Contenedor</td>
                        <td>@modelo.FolioInicial</td>
                        <td>@modelo.FolioFinal</td>
                        <td>@modelo.FormasTotalesContenedor</td>
                        <td>@modelo.FormasDisponiblesActuales</td>
                        <td>@modelo.FormasInhabilitadas</td>
                        <td>@modelo.FormasAsignadas</td>
                        <td>@modelo.FechaAlta</td>


                    </tr>


                 }


            </tbody>
        </table>
    </div>


</section>



