@model  Dictionary<int, string>


<!-- Vista de Formas de pago-->
<seccion id="FormasPago" class="margenSection  card col-12  offset-md-1 col-md-10 text-center" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


    <div class="btn-block">
        <br />
        <h5>QUINCENA A FOLIAR CON FORMAS DE PAGO</h5>
        <h5 id="QuincenaFormasPago" class="azul">@ViewBag.NumeroQuincena </h5>
        <br />
    </div>


    <div class="row">

        <!-- Selecciona una nomina-->
        <div class="col-12 col-lg-6">

            <div class="offset-1 col-10 text-left margenSection">
                <h5>Nominas</h5>
                <div class="form-group">
                    <select class="form-control " id="SeleccionarNominaFoliar" required>
                        <option value="" disabled selected>Selecciona una Nomina...</option>
                        @foreach (var nuevaNomina in Model)
                        {

                            <option value="@nuevaNomina.Key">@nuevaNomina.Value </option>
                        }
                    </select>
                </div>
            </div>




            @*<div class="col-md-12 text-center">
                    <form>
                        <div>
                            <label class="btn  btn-outline-primary">
                                <input id="checkSindicalizado" type="checkbox" autocomplete="off"> Sindicalizado
                            </label>
                            <label class="btn  btn-outline-primary">
                                <input id="checkConfianza" type="checkbox" autocomplete="off"> De Confianza
                            </label>
                        </div>
                    </form>
                    <br />
                </div>*@


        </div>

        <!-- Selecciona una nomina-->
        <div class="col-12 col-lg-6">

            <div class="offset-1 col-10 text-left margenSection">
                <h5>Cuentas Bancarias </h5>
                <div class="form-group">
                    <select class="form-control " id="SeleccionarCuentaBancaria" required style=" white-space:pre-wrap; ">
                        <option value="" disabled selected>Selecciona una cuenta bancaria...</option>
                        @foreach (var nuevoBanco in ViewBag.BancosConTarjeta)
                        {

                            <option value="@nuevoBanco.Key">@nuevoBanco.Value </option>
                        }
                    </select>
                </div>

            </div>
        </div>


        <!-- inserta una rango de foliacion-->
        <div class="col-12 col-lg-6">


            <section id="IFolios" class="margenSection offset-1 col-10" style="background:#E6E6E6; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
                <br />
                <h4 class="col-12 text-center">Rango de Foliacion</h4>
                <br />


                <div class="row text-center">
                    <label class="offset-1 col-10            col-sm-3">Folio Inicial:</label>
                    <input id="rangoInicial" class="offset-1 col-10 offset-sm-0 col-sm-3 " placeholder="Del" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 122 && event.charCode != 91 " required />
                    <label class="offset-1 col-10 offset-sm-0 col-sm-2">Folio Final:</label>
                    <h3 id="rangoFinal" class="offset-1 col-10 offset-sm-0 col-sm-3 text-sm-left">{12}</h3>
                </div>


                <br />
                <div class="row offset-1 col-10 text-center">
                    <h3 id="registrosFoliados" class=" btn-lg  btn-block" title="Numero de Registros Foliados">{Numero de Registros Foliados}</h3>

                </div>

                <br class="margensection" />
            </section>

        </div>


        <div class="col-12 col-lg-6">
            <section id="IFolios" class="margenSection offset-1 col-10" style="background:#E6E6E6; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <br />
                <h4 class="col-12 text-center">Folios a inhabilitar</h4>
                <br />

                <div class="col-md-12 text-center">
                    <form>
                        <div>
                            <label class="btn  btn-primary ">
                                <input id="checkAsignar" type="checkbox" autocomplete="off"> Inhabilitar
                            </label>


                        </div>
                    </form>
                    <br />
                </div>

                <div class="row ">
                    <label class="offset-1 col-10             col-sm-2">Folio Inicial:</label>
                    <input id="FolioInicial" class="offset-1 col-10 offset-sm-0 col-sm-3" placeholder="Del" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 122 && event.charCode != 91 " required />
                    <label class="offset-1 col-10 offset-sm-0 col-sm-2">Folio Final:</label>
                    <input id="FolioFinal" class="offset-1 col-10 offset-sm-0 col-sm-3" placeholder="Al" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 122 && event.charCode != 91 " />

                </div>


                <br />
                <div class="row offset-1 col-10 text-center">
                    <button id="ValidarFolios" class="btn btn-primary btn-md  btn-block" title="valida la disponibilidad de folios">Ajustar</button>

                </div>

                <br />
            </section>


        </div>


        <!--- boton para foliar aqui se deberia enviar la peticion ajax-->
        <div class="row offset-1 col-10 text-center">
            <button id="RevisarNomina" class="btn btn-info btn-lg btn-block" title="Muestra la vista previa en un pdf de como quedaria la nomina al foliar">Verificar</button>
            <button id="FoliarNomina" class="btn btn-success btn-lg btn-block" title="Folea la nomina seleccionada">Foliar</button>

        </div>


    </div>

    <hr class="linea col-7 " />

    <div class="col-12 col-lg-6">

        <div class="offset-2 col-8 text-left margenSection">
            <h5>Nominas Foliadas </h5>
        </div>
    </div>



</seccion>







<!-- Modal para mostrar detalles de la nomina cargada -->
<div class="modal fade" id="DetalleNomia" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetalleNomina">{Nombre del detalle de la nomina}</h5>
                <button type="button" class="close btn-primary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <!--Nuevo modal-->
                <!-- Cascaron de tabla para luego llenarla con datos desde la DB -->
                <div class="margenSection" id="DetalleAsignacion">
                    <div class="table-responsive">

                        <div id="TablaActualizada">

                            <table id="AsignarFormas" class='table table-striped table-bordered table-hover'>
                                <caption class="text-uppercase"> Resumen de Nomina </caption>
                                <thead class="tabla">
                                    <tr>

                                        <th>Deleg</th>
                                        <th>Sindi</th>
                                        <th>SindiFoliado</th>
                                        <th>Confia</th>
                                        <th>ConfiaFoliado</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>

                                        <th class='Filtro'>Campeche</th>
                                        <th class='Filtro'>120</th>
                                        <th class='Filtro'>False</th>
                                        <th class='Filtro'>3</th>
                                        <th class='Filtro'>True</th>
                                        <th class='Filtro'>123</th>

                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="form-group col-12 offset-md-3 col-md-7 text-center">
                    <div id="mainselection">
                        <select class="form-control text-uppercase" id="SeleccionarDelegacion" required>
                            <option value="20" selected hidden>Selecciona una delegacion a foliar...</option>
                            <option value="00"> Campeche y mas delegaciones</option>
                            <option value="03"> Champoton</option>
                            <option value="04-11"> Escarcega - Candelaria</option>
                            <option value="05"> Calkini</option>
                            <option value="06"> Hecelchakan</option>
                            <option value="07"> Hopelchen</option>

                        </select>

                    </div>

                </div>
                <br />



                <div class="col-12 offset-md-3 col-md-6 text-center">
                    <form>
                        <div>
                            <label class="btn  btn-outline-primary btn-lg">
                                <input id="checkSindicalizado" type="checkbox" autocomplete="off"> Sindicalizado
                            </label>
                            <label class="btn  btn-outline-primary btn-lg">
                                <input id="checkConfianza" type="checkbox" autocomplete="off"> De Confianza
                            </label>
                        </div>
                    </form>
                    <br />
                </div>





                <div class="col-12 text-center">
                    <br />
                    <button id="Continuar" type="button" class="btn btn-lg btn-success"><i class="far fa-hand-point-right"></i> Continuar</button>

                </div>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>




<style>

    #mainselection select {
        border: 0;
        color: rgb(0, 123, 255);
        background: transparent;
        font-size: 20px;
        font-weight: bolder;
        background: #ffffff;
    }

    #mainselection {
        border-radius: 9px 9px 9px 9px;
        box-shadow: 1px 1px 10px #017BFF;
    }

</style>








<script>
    $(document).ready(function () {


        let nominaSeleccionadaUsuario = null;
        const SeleccionarNominaDisponible = document.getElementById("SeleccionarNominaFoliar");
        SeleccionarNominaDisponible.addEventListener("change",
            function () {

                nominaSeleccionadaUsuario = this.options[SeleccionarNominaDisponible.selectedIndex];

                console.log(nominaSeleccionadaUsuario.value);

                   let EnviarDatos = "{'IdNomina': '"+nominaSeleccionadaUsuario.value+"'}";

                    MensajeCargando();
                    $.ajax({
                        url: '@Url.Action("ObtenerDetalleNominaPorFiltro", "Foliar")',
                        data: EnviarDatos,
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {

                         
                            $('#DetalleNomia').modal('show');
                            OcultarMensajeCargando();
                        }
                    });


            }
        );


        let sindicalizado = false;
        const checkboxSindicalizado = document.getElementById('checkSindicalizado');
        checkboxSindicalizado.addEventListener('change', function () {
            if (this.checked) {

                $('#checkConfianza').prop('checked', false);
                sindicalizado = true;

            } else {
                sindicalizado = false;
            }
        });



        // let nominasFoliadas = new Array();
        let confianza = false;
        const checkboxConfianza = document.getElementById('checkConfianza');
        checkboxConfianza.addEventListener('change', function () {
            if (this.checked) {

                $('#checkSindicalizado').prop('checked', false);
                confianza = true;

            }
        });





        const Revisar = document.getElementById('RevisarNomina');
        Revisar.addEventListener('click', function () {


            console.log(checkboxSindicalizado.checked);
            console.log(checkboxConfianza.checked);

            //Revisar que el usuario haya seleccionado una nomina
            if (nominaSeleccionadaUsuario != null) {

                //Revisar si el check de sindizalizados esta seleccionado
                if (checkboxSindicalizado.checked == true && checkboxConfianza.checked == false) {


                    //Enviar datos al servidor x nomina
                    //
                    //Crear pdf, ponerlo en una carpeta temporal y mostrarle un visualizador para que lo vea y decida que hacer
                    // con el pdf
                    //peticion ajax
                    // nominasFoliadas.push(nominaSeleccionadaFoliar.value);
                    // PintarTablaNominasFoliadas(nominasFoliadas);
                    $("VistaPreviaPDF").empty();
                    PDFObject.embed(".../Reportes/ReportesPDFSTemporales/Solicitud.pdf", "#VistaPreviaPDF");
                    $('#ModalPDFVisualizador').modal('show');



                    //Revisar si el check de sindizalizados esta seleccionado o el de confianza
                } else if (seleccionNomina == false, seleccionTodasNominas == true) {
                    //Enviar datos al servidor para hacer la peticion de todas las nominas ya que es por pagomatico
                    //Crear pdf, ponerlo en una carpeta temporal y mostrarle un visualizador para que lo vea y decida que hacer
                    // con el pdf
                    //peticion ajax

                } else {
                    Swal.fire({
                        backdrop: true,
                        allowEnterKey: false,
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        icon: 'warning',
                        title: '',
                        text: `Selecciona una opcion para continuar`
                    });

                }


            } else {
                Swal.fire({
                    backdrop: true,
                    allowEnterKey: false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    icon: 'warning',
                    title: '',
                    text: `Selecciona una nomina `
                });

            }








        });


        //Metodos del modal
        $('#DetalleNomia').on('hidden.bs.modal', function (e) {
            $(this).find('form').trigger('reset');
            $("#SeleccionarDelegacion").val("20");
            sindicalizado = false;
            confianza = false;

        });


        //SeleccionarDelegacion

         let delegacionSeleccionadaUsuario = null;
        const SeleccionarDelegacion = document.getElementById("SeleccionarDelegacion");
        SeleccionarDelegacion.addEventListener("change",
            function () {

                delegacionSeleccionadaUsuario = this.options[SeleccionarDelegacion.selectedIndex];

                console.log(SeleccionarDelegacion.value);

                let EnviarDatos = "{'IdNomina': '"+nominaSeleccionadaUsuario.value+"','Delegacion': '"+SeleccionarDelegacion.value+"', 'Sindicalizado': '"+sindicalizado+"', 'Confianza': '"+confianza+"' }";

                    MensajeCargando();
                    $.ajax({
                        url: '@Url.Action("ObtenerNominaPorFiltro", "Foliar")',
                        data: EnviarDatos,
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (response) {

                            //  alert(response);
                            //$("example").empty();
                            //PDFObject.embed("../Reportes/ReportesPDFSTemporales/RevicionNomina" + nominaSeleccionadaFoliar.value + ".pdf", "#example");
                            //$('#ModalPDFVisualizador').modal('show');
                            $('#DetalleNomia').modal('show');
                            OcultarMensajeCargando();
                        }
                    });

            }
        );



    });




</script>
